<launch>

 <node pkg="rosbag" type="record" name="rosbag_record_cam_poses"
       args="record -o $(find panda_torque_mpc)/bags/ 
                              /joint_states
                              /ctrl_mpc_linearized/pose_camera_object
                              /ctrl_mpc_linearized/cam_pose_viz 
                              /ctrl_mpc_linearized/cam_pose_ref_viz
                              /camera/color/image_raw
                              /camera/color/camera_info
                              /camera_scene/color/image_raw
                              /camera_scene/color/camera_info
                              /tf 
                              /tf_static
                              "
       />

</launch>