<launch>
  <arg name="record_task" default="false"/>
  <arg name="expe" default="expe"/>
  <arg name="controller"  default="ctrl_model_pinocchio_vs_franka" doc="Choose controller to be launched. Check config/controller_configs.yaml to see which one are available." />

  <!-- Dump controller related parameters for this experiment in a yaml file with similar name as bag file -->
  <rosparam command="dump" file="$(find panda_torque_mpc)/bags/$(arg controller)_$(arg expe).yaml" ns="$(arg controller)" subst_value="true" />
  
  <node pkg="rosbag" type="record" name="rosbag_record_controller"
        args="record --output-name $(find panda_torque_mpc)/bags/$(arg controller)_$(arg expe)
                    /$(arg controller)/task_pose_comparison 
                    /$(arg controller)/task_twist_comparison 
                    /$(arg controller)/joint_torques_comparison"
        if="$(arg record_task)" 
  />

</launch>