<?xml version="1.0" ?>
<launch>
  <arg name="robot" default="panda" doc="choose your robot. Possible values: [panda, fr3]"/>
  <arg name="arm_id" default="$(arg robot)" />
  <arg name="record_joints" default="false"/>
  <arg name="record_task" default="false"/>
  <arg name="expe" default="expe"/>
  <arg name="controller" default="ctrl_model_pinocchio_vs_franka" doc="Choose controller to be launched. Check config/controller_configs.yaml to see which one are available." />

  <rosparam command="load" file="$(find panda_torque_mpc)/config/controller_configs.yaml" subst_value="true" />

  <param name="pinocchio_robot_description" command="$(find xacro)/xacro $(find panda_torque_mpc)/urdf/demo.urdf.xacro hand:=true arm_id:=panda gazebo:=false pinocchio_collisions:=true"/>
  
  <!-- <include file="$(find franka_gazebo)/launch/panda.launch">
    <arg name="arm_id" value="$(arg arm_id)"/>
  </include> -->

  <!-- spawns the controller after "initialized" topic tells us the robot is initialized  -->
  <node pkg="controller_manager"
        type="spawner"
        name="$(arg arm_id)_torque_controller_spawner"
        respawn="false" output="screen"
        args="--wait-for initialized $(arg controller)"
  />
</launch>